body {
  font-family: "Lato", Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
.body-layout {

}
#myElementContainer {
    position: relative;
}

.grid-item { 
  padding: 10px;
}

.side-nav-veiw {
  background-color: #0B2736;
}

.card-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  img {
    width: 100%;
    height: auto;
  }
  ul {
    padding: 0 20px;
    height: 48px;
    background-color: #1C1C1C;
    color: #91949D;
    transition: color .4s;
    li {
      list-style: none;
      min-width: 14px;
      white-space: nowrap;
      height: 48px;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 48px;
      font-size: 11px;
      font-weight: 700;
      &:hover {
        transition: color .4s;
        color: #fff;
      }
    }
  }
}
