.playground(layout="row"  layout-fill)
  md-content(flex="100" layout="row")
    include side-nav
    .playground-view(flex="80")
      #myElementContainer.grid(layout="row" flex="100")
        .grid-item(class="masonryImage" ng-repeat="card in nominations" flex="20")
          .card-container
            img(ng-src='{{card.image}}')
            .details-view
              .hashtag {{card.hashTag}}
              .nominee {{card.nominee}}
              .description {{card.description}}
              .nominator By {{card.nominator}}
            ul.nomination-tools(layout="row" layout-align="space-between")
              li.likes
                i.mdi.mdi-heart  27 
              li.comments
                i.mdi.mdi-comment  14
              li.view-post 
                i.mdi.mdi-open-in-new  View

