.side-nav-veiw(flex='15')
  h3 What do you want to do ?
  ul
    li(ng-click="openDrawer('nominate')" ng-class="{'selected' : display.nominate}") 
      i.mdi.mdi-trophy-award Nominate
    li(ng-click="openDrawer('create')" ng-class="{'selected' : display.create}") 
      i.mdi.mdi-shield Create an award
    li(ng-click="openDrawer('vote')" ng-class="{'selected' : display.vote}") 
      i.mdi.mdi-marker-check Vote for an award
//- div(class="ui left  visible sidebar" flex)