script(type="text/javascript"  src="lib/jquery/dist/jquery.min.js")
script(type="text/javascript"  src="lib/jquery-ui/jquery-ui.min.js")
script(type="text/javascript"  src="lib/angular/angular.min.js")
script(type="text/javascript"  src="lib/lodash/lodash.min.js")
script(type="text/javascript"  src="lib/angular-route/angular-route.min.js")
script(type="text/javascript"  src="lib/moment/min/moment-with-locales.min.js")
script(type="text/javascript"  src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript"  src="lib/angular-material/angular-material.min.js")
script(type="text/javascript"  src="lib/angular-animate/angular-animate.min.js")
script(type="text/javascript"  src="lib/angular-aria/angular-aria.min.js")
script(type="text/javascript"  src="lib/angularfire/dist/angularfire.min.js")
script(type="text/javascript"  src="lib/a0-angular-storage/dist/angular-storage.min.js")
script(type="text/javascript"  src="lib/firebase/firebase.js")
script(type="text/javascript"  src="lib/angular-cookies/angular-cookies.min.js")
script(type="text/javascript"  src="lib/eventie/eventie.js")
script(type="text/javascript"  src="lib/eventEmitter/EventEmitter.js")
script(type="text/javascript"  src="lib/imagesloaded/imagesloaded.js")
script(type="text/javascript"  src="lib/wookmark-jquery/wookmark.min.js")
script(type="text/javascript"  src="lib/semantic-ui/dist/semantic.min.js")
script(type="text/javascript"  src="js/index.js")
