meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen")
link(href="css/style.css" rel="stylesheet" media="screen")
link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
//- link(rel="stylesheet" href="lib/lumx/dist/lumx.css")