doctype html
html(lang="en" ng-app="nodeTodo")
  head
    title Coder Crush And Critics
    include shared/head
  body
    .mks-layout(layout="column" layout-fill ui-view)
    include templates/home

    include shared/footer