include shared/head
section(layout-align="center center")
  md-button.md-raised.md-warn(ng-click="login()" style="text-transform:none;")
    span.fa.fa-google-plus
      |  &nbsp; Login with Google
  md-button.md-raised.md-primary(ng-click="googleSignUp()" style="text-transform:none;")
    span.fa.fa-google-plus
      |  &nbsp; SignUp with Google